.btn-green{
  background-color: #11bf90;
  padding:18px 23px;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.btn-green:hover{
  background-color: #1063B6;
}

